html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #c3e6e4;
  position: relative;
  z-index: 1;
}

header {
  font-family: 'Modak', cursive;
  position: absolute;
  right: 0;
  top: 1.2rem;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 20vh;
  color: #ffffff80;
}

#matter-canvas {
  width: 100%;
  height: 100%;
  filter: url(#gooey);
  flex-shrink: 0;
}

#carton, .glass {
  position: absolute;
  pointer-events: none;
  z-index: 0;
}

.glass {
  width: 250px;
}

#carton {
  left: 0;
  top: 5px;
  z-index: -1;
  width: 150px;
  transform: translate(-20px, 0);
}

#endgame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  font-size: 64px;
  z-index: 2;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(256, 256, 256, 0.7);
  color: black;
  filter: blur(32px);
  z-index: 1;
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}